# Mico Personal Files
git details.txt
react-shortcuts.txt
progress.txt


# Quick Shortcuts File

# For Frontend
frontend.bat
MainNavigation.jsx

# For Mobile
mobile.bat

# For Backend
backend.ps1

# Auto Upload Script
automation.ps1






