
# Ignore Python bytecode files
venv/

__pycache__/
routes/__pycache__/
models/__pycache__/
config/__pycache__/
utils/__pycache__/
admin/__pycache__/



# Ignore secret files and credentials
secrets_backend/

# Ignore test code
test_code/

# Hide utils 
utils/document_comparison.py
utils/image_processor.py

# Personal File (Mico)
automation/