
# Ignore Python bytecode files
venv/

__pycache__/
routes/__pycache__/
models/__pycache__/
config/__pycache__/
utils/__pycache__/
admin/__pycache__/



# Ignore secret files and credentials
secrets_backend/
firebase_backend/sv-pams-477706-firebase-adminsdk-fbsvc-13b4d78761.json

# Ignore test code
test_code/